BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
ColumnLimit: 80
IndentCaseLabels: true
FixNamespaceComments: false
SpaceBeforeCpp11BracedList: true
AllowShortFunctionsOnASingleLine: All
AllowShortCaseLabelsOnASingleLine: true
IndentAccessModifiers: false
AccessModifierOffset: -4
EmptyLineBeforeAccessModifier: Always
BinPackArguments: false
BinPackParameters: OnePerLine
AlignAfterOpenBracket: BlockIndent
BreakConstructorInitializers: BeforeColon
#LambdaBodyIndentation: OuterScope
#PenaltyBreakAssignment: 1000